<p>
	<strong>Author:</strong>
	<%= @post.user.first_name %>
</p>

<p>
	<strong>Title of post:</strong>
	<%= @post.title %>
</p>

<p>
	<strong>Body of post:</strong>
	<%= @post.body %>
</p>

<h2>Comments:</h2>
<%= render @post.comments %>

<%= render 'comments/form' %>

<h1><%= link_to 'All posts', posts_path %></h1>